@import "normalizez.scss"
@import "resets.scss"

*
  box-sizing: border-box

$color-blue: #5698F6
$color-yellow: #F2CB00
$color-grey: #CBCBCB

.container
  max-width: 1140px
  margin: 0 auto

.main-section
  height: 800px
  background: #DFDFDF
  padding-top: 17px
  &__nav-container
    display: flex
    justify-content: space-between
    height: 85px
    align-items: center
  &__nav
  &__logo
    width: 165px
  &__content-container
    display: flex
    position: relative

.nav-menu
  &__list
    display: flex
  &__list-item
    font-size: 18px
    margin-right: 50px
    &:last-child
      margin-right: 0

.left-wrapper
  position: relative
  &__img
    position: relative
    z-index: 5
  &__rectangle-yellow
    position: absolute
    top: 94px
    left: -69px
    z-index: 3
    width: 618px
    height: 220px
    border-radius: 100px
    background: $color-yellow
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    transform: rotate(-63.912deg)
  &__rectangle-blue
    position: absolute
    width: 200px
    height: 618px
    top: -70px
    left: 187px
    z-index: 2
    background: $color-blue
    border-radius: 100px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    transform: rotate(45deg)
  &__rectangle-grey
    position: absolute
    top: 170px
    left: 20px
    z-index: 1
    width: 618px
    height: 220px
    border-radius: 100px
    background: $color-grey
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    transform: rotate(-30deg)

.right-wrapper
  width: 409px
  position: absolute
  top: 106px
  left: 746px
  &__icons-box
    margin-bottom: 1px
    padding-left: 4px
  &__text
    font-size: 16px
    margin-bottom: 30px
  &__button

.icons
  display: flex
  &__item
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border: 1px solid black
    border-radius: 100px
    margin-right: 11px
    &:last-child
      margin-right: 0
    i
      font-size: 21px

.title
  font-size: 72px
  position: relative
  margin-bottom: 25px
  &__hr
    width: 72px
    margin: 0
    position: absolute
    bottom: 5px
    border: 0
    border-top: 1px solid

.buttons
  display: flex
  &__main-btn
    width: 145px
    height: 50px
    margin-right: 40px
    background-color: $color-blue
    border: none
    border-radius: 20px
    color: #FFF
    font-size: 14px
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    cursor: pointer
  &__icon-btn
    display: flex
    align-items: center
    cursor: pointer
    font-size: 14px
    &__text
      font-size: 14px
  img
    margin-right: 10px
