@import "normalizez.scss"
@import "resets.scss"

*
  box-sizing: border-box

@font-face
  font-family: "MontseratT"
  src: url(../fonts/Montserrat-Regular.ttf)
  font-weight: regular
  font-style: normal

@font-face
  font-family: "MontseratT"
  src: url(../fonts/Montserrat-SemiBolds.ttf)
  font-weight: bold
  font-style: normal

html
  font-family: "MontseratT"
  font-weight: regular

$color-blue: #5698F6
$color-yellow: #F2CB00
$color-light-grey: #f0f0f0
$color-dark-grey: #CBCBCB

.container
  max-width: 1140px
  margin: 0 auto
  position: relative

.main-section
  position: relative
  min-height: 800px
  background: $color-light-grey
  padding-top: 17px
  overflow: hidden
  &__nav-container
    display: flex
    justify-content: space-between
    height: 85px
    align-items: center
  &__nav
  &__logo
    width: 165px
  &__content-container
    display: flex
    position: relative
  &__first-elipse
    position: absolute
    right: 73px
    top: -8px
  &__second-elipse
    position: absolute
    top: 650px
    right: -40px
  &__left-wrapper
    position: relative
    &__img
      position: relative
      z-index: 5
    &__rectangle-yellow
      position: absolute
      top: 94px
      left: -69px
      z-index: 3
      width: 618px

      height: 220px
      border-radius: 100px
      background: $color-yellow
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
      transform: rotate(-63.912deg)
    &__rectangle-blue
      position: absolute
      width: 200px
      height: 618px
      top: -70px
      left: 187px
      z-index: 2
      background: $color-blue

      border-radius: 100px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      transform: rotate(45deg)
    &__rectangle-grey
      position: absolute
      top: 170px
      left: 20px
      z-index: 1
      width: 618px

      height: 220px
      border-radius: 100px
      background: $color-dark-grey
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
      transform: rotate(-30deg)
  &__right-wrapper
    width: 409px
    position: absolute
    top: 106px
    left: 746px
    &__icons-box
      margin-bottom: 1px
      padding-left: 4px
  &__title
    margin-bottom: 25px
  &__text
    font-size: 16px
    margin-bottom: 30px

.nav-menu
  &__list
    display: flex
  &__list-item
    font-size: 18px
    font-weight: bold
    margin-right: 50px
    &:last-child
      margin-right: 0
    a
      text-decoration: none
      color: black

.icons
  display: flex
  &__item
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border: 1px solid black
    border-radius: 100px
    margin-right: 11px
    &:last-child
      margin-right: 0
    i
      font-size: 21px

.title
  font-size: 72px
  position: relative
  font-weight: bold
  &__hr
    width: 72px
    margin: 0
    position: absolute
    bottom: 5px
    left: 1px
    border: 0
    border-top: 1px solid

.buttons
  display: flex
  &__main-btn
    width: 145px
    height: 50px
    margin-right: 40px
    background-color: $color-blue
    border: none
    border-radius: 20px
    color: #FFF
    font-size: 14px
    font-weight: bold
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    cursor: pointer
  &__icon-btn
    display: flex
    align-items: center
    cursor: pointer
    font-size: 14px
    &__text
      font-size: 14px
  img
    margin-right: 10px

.elipse
  display: flex
  justify-content: center
  align-items: center
  width: 150.072px
  height: 143.075px
  border-radius: 150px
  background: linear-gradient(136deg, #F2CB00 33.69%, #5698F6 55.04%, #7A7A7A 82.75%)
  &--big
    width: 209.879px
    height: 218.738px
    transform: rotate(105.603deg)
  &__substract
    width: 102.581px
    height: 97.798px
    border-radius: 150px
    background: $color-light-grey
    &--big
      width: 143.462px
      height: 149.517px

.second-section
  position: relative
  min-height: 701px
  &__container
    padding-top: 31.66px
  &__title
    margin-bottom: 52px
  &__cards-box
    display: flex
    column-gap: 30px
    margin-bottom: 36px
  &__cards-item
    display: flex
  &__icons-box
    width: 1003px
    display: flex
    justify-content: space-evenly
    margin: 0 auto
  &__first-elipse
    position: absolute
    top: 119px
    right: 94px
    z-index: -1
    width: 107.65px
    height: 107.65px
    .elipse__substract
      width: 73.59px
      height: 73.59px
      background-color: white
  &__second-elipse
    position: absolute
    top: 322px
    left: 20px
    z-index: -1
    width: 234.34px

    height: 234.34px
    .elipse__substract
      width: 160.19px
      height: 160.19px
      background-color: white

.cards-item
  position: relative
  display: flex
  align-items: flex-end
  width: 360px
  height: 360px
  border-radius: 10px
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
  background-color: $color-dark-grey
  &__img
    height: 345px
    max-width: 216px
  &__text
    position: absolute
    top: 144px
    right: -45px
    font-size: 40px
    width: 280px
    height: 88px
    text-align: center
    transform: rotate(90deg)
    font-weight: bold
  &--blue
    background-color: $color-blue
  &--yellow
    background-color: $color-yellow

.img-acoustic-guitar
  margin-left: 52px

.icons-item
  display: flex
  align-items: center
  &__img
    width: 80px
    height: 80px
    margin-right: 8px
  &__text
    width: 138px
    height: 52px
  span
    font-size: 40px
    font-weight: bold

.third-section
  position: relative
  flex-direction: column
  min-height: 723px
  background-color: $color-light-grey
  z-index: 0
  overflow: hidden
  &__container
    display: flex
    padding: 30px 0 0 73px
    align-items: center
    justify-content: space-between
  &__right-wrapper
    max-width: 552px
  &__title
    margin-bottom: 20px
  &__text
    font-size: 18px
    margin-bottom: 25px
  &__first-elipse
    position: absolute
    top: 206px
    left: -16.65px
    width: 234px
    height: 234px
    z-index: -1
    .elipse__substract
      width: 160px
      height: 160px
  &__second-elipse
    position: absolute
    width: 231px
    height: 231px
    transform: rotate(-33.97deg)
    right: -70px
    top: -70px
    .elipse__substract
      width: 158px
      height: 158px
  &__figure
    position: absolute
    left: -101px
    top: 305px
  &__left-wrapper
    width: 480px

.title__hr--top
  bottom: 75px

.footer
  &__title
    margin-bottom: 15px
  &__img
    position: absolute
    left: -250px
    bottom: 0px
  &__container
    min-height: 273px
    display: flex
    align-items: center
    justify-content: flex-end
